* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
}

.header {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;

  padding: 20px;
  border-bottom: 2px solid purple;
}
