.topLevelWrapper {
  display: flex;
  .employeeCardWrapper.hasChildrens {
    display: flex !important;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
}

.employeeCardWrapper {
  .parentElement {
    border: 1px solid black;

    background: white;
    color: black;
    border-top: 4px solid purple;
    border-radius: 10px;

    // padding: 30px;

    width: 280px;
    // width: fit-content;
    height: 215px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    .profilePic {
      background: rgba(128, 0, 128, 0.2);
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .employeeDetail {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      align-self: flex-start;
      margin-left: 50px;

      .tag {
        color: black;
        background: rgba(210, 21, 210, 0.2);
        font-size: 10px;
        padding: 3px 10px;
        border-radius: 3px;
        width: fit-content;
        font-weight: bold;
      }

      .roleValue {
        font-size: 12px;
        color: grey;
      }
    }
  }

  .childElements {
    display: flex;
  }
}

// Tree CSS
.tree {
  width: 100%;
  height: auto;
  text-align: center;
}
.tree ul {
  padding-top: 20px;
  position: relative;
  transition: 0.5s;
}
.tree li {
  display: inline-table;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 10px;
  transition: 0.5s;
}
.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 51%;
  height: 10px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}
.tree li:only-child {
  padding-top: 0;
}
.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
